; FairCom c-treeACE Server Replication Agent Configuration File - v12.0.0.89 Build(201020)

;The unique ID of the Replication Agent for multi server replications
unique_id REPLAGENT1

; Target server connection info
target_authfile ../config/replication/target_auth.set
target_server FAIRCOMS@localhost

; Source server connection info
source_authfile ../config/replication/source_auth.set
source_server FAIRCOMS@SourceIP

;syncagent yes
; Read 8 KB batches from source server
batch_size 8192

; Use a 5-second timeout when reading from source server
read_timeout_ms 5000

; Log file name
log_file_name  ../config/replication/replagent1.log

; Write change details to log file
;log_change_details changes.log

; The exception_mode option determines how the replication agent handles errors
; that occur when applying operations to the target server.
;
; exception_mode transaction
; When an operation fails, abort the transaction. This option preserves
; atomicity of transactions: either all or none of the operations for the
; transaction are applied to the target c-tree Server.
;
; exception_mode operation
; When an operation fails, continue the transaction, skipping only the
; operation that failed. This option does not preserve atomicity of
; transactions: only the operations that the replication agent successfully
; applies to the target c-tree Server are committed.

exception_mode transaction

; The source server will remember the replication agent's log position

; even when the replication agent disconnects.
;remember_log_pos yes

; file filter specified in the external XML rules
file_filter <../config/replication/filter1.xml

; enables replicating create operations and other schema definition operations
replicate_data_definitions yes

; End of File